@using ControleContatos.Enums;
@model ControleContatos.Models.UsuarioViewModel
@{
    ViewData["Title"] = "Criar usuário";
}
<div class="text-center">
    <h1 class="display-4 mt-3">Cadastrar usuário</h1>
</div>
<form asp-controller="Usuario" asp-action="Criar" method="post">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input asp-for="@Model.Nome" type="text" class="form-control" placeholder="Digite o nome do usuário">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input asp-for="@Model.Email" type="text" class="form-control" placeholder="Digite o email do usuário">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label for="celular">Login</label>
        <input asp-for="@Model.Login" type="text" class="form-control" placeholder="Digite o login do usuário">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="form-group">
        <label for="celular">Perfil</label>
        <select class="form-control" asp-for="@Model.Perfil">
            <option value="">Selecione</option>
            <option value="@PerfilEnum.Admin">Administrador</option>
            <option value="@PerfilEnum.Padrao">Padrao</option>
        </select>
        @Html.ValidationMessageFor(x => x.Perfil)
    </div>
    <div class="form-group">
        <label for="celular">Senha</label>
        <input asp-for="@Model.Senha" type="password" class="form-control" placeholder="Digite a senha do usuário">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Adcionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Usuario" asp-action="Index">Voltar</a>
</form>